* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2C1250;
  font-family: Inter, system-ui, sans-serif;
  color: white;
}

.header {
  height: 70px;
  background: #270C4A;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.header img {
  height: 36px;
}
